.lastFight {
  width: 80%;
  background: rgba(255, 255, 255, 0.4);
  color: rgba(3, 28, 74);
  font-weight: 200;
  border-radius: 3px;
}

.lastFight > h3 {
  text-align: center;
  color: rgba(3, 28, 74);
  font-weight: 800;
}

.lastFightCards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.miniAvatar {
  height: 100px;
  width: 80px;
  border: 1px solid rgba(3, 28, 74);
  border-radius: 4px;
}

.miniCard > p {
  text-align: center;
  margin: 5px 0;
}

.fightMsg {
  text-align: center;
  font-weight: 400;
}
